button {
  width: 164px;
  height: 37px;
  color:  var( --color-command-line-background);
  background: var(--color-button);
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
}

button:hover {
  color: var(--color-beige);
  background: var(--color-green);
}
