.contact-command-line{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-command-line form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-command-line .esential-info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.contact-command-line .form-name{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
}
.contact-command-line .form-phone{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
}
.contact-command-line form label{
  font-size: 1.5rem;
  color: #b8b5b5;
}

.contact-command-line form input{
  appearance: none;
  border-radius: 0.625rem;
  border-width: 0;
  font-size: 1rem;
  height: 2.5rem;
  line-height: 1.5rem;
  outline: none;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

}

.contact-command-line form textarea{
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0.625rem;
  min-height: 10rem;
}

