.contact-command-line{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--color-text);
}

.contact-command-line .contact-command-line-form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-command-line .contact-command-line-form .esential-info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.contact-command-line .contact-command-line-form .form-name{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
}
.contact-command-line .contact-command-line-form .form-phone{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
}


.contact-command-line .contact-command-line-form textarea{
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0.625rem;
  border-radius: 0.625rem;
  min-height: 4rem;
  background-color: var(--color-text);

}

