.home-command-form{
  display: flex;
  flex-direction: row;
}
.home-command-form p {
 color: var(--color-green);
}
.home-command-form .home-command-form__input {
  background:transparent;
  border: none;
  outline: none;
  color: transparent;
  caret-color: white;
  font-size: 1rem;
  color:#b8b5b5
}

