.command-line {
  position: relative;
  width: 70rem;
  height: 40rem;
  background: #000000;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
}

.color-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 1rem;
  gap: 0.5rem;
}

/* Ellipse Verde */
.green-ellipse {
  width: 1.125rem;
  height: 1.188rem;
  background: #9dbc98;
  border-radius: 50%;
}

/* Ellipse Amarillo */
.yellow-ellipse {
  width: 1.125rem;
  height: 1.188rem;
  background: #ebd9b4;
  border-radius: 50%;
}

/* Ellipse rojo */
.red-ellipse {
  width: 1.125rem;
  height: 1.188rem;
  background: #8b2b34;
  border-radius: 50%;
}

.text-area {
  display: flex;
  padding: 0rem 1rem 1rem 1rem;
}

.paragraph {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
}

/* Cursor parpadeante */
.paragraph::after {
  content: "|";
  font-weight: bold;
  margin-left: 0.313rem;
  opacity: 1;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
