/*TODO: Hacer variables globales de colores, tipo de letra...*/

button {
  --button-color-blue: #638889;
  --button-color-green: #9dbc98;
  --button-color-blur: #8b2b34;

  cursor: pointer;
  min-width: 10rem;
  min-height: 2.25rem;
  background: #638889;
  border-radius: 3.125rem;
  border: none;
  color: #f9efdb;
}
