input {
  border-radius: 5px;
  min-height: 40px;
  min-width: 330px;
  border: 2px solid #638889;
  font-size: 16px;
}

input:focus {
  outline: none;
  border: 2px solid #9dbc98;
}

input:hover {
  outline: none;
  border: 2px solid #9dbc98;
}
