* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.app {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color:  #3B444B;
  gap: 1rem;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
    gap: 0;
  }

}
