* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cascadia Code', monospace;

}

.app {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color:  var(--color-background);
  gap: 1rem;
  padding: 1rem;
}


@media (max-width: 768px) {
  .app {
    flex-direction: column;
    gap: 0;
    padding: 0;
  }

}
